# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\Desktop\Fiverr\Orders\Minecraft Plugin\RegionSigns - craftempire2 - 29-01-2021\Source\RegionSigns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
